<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @registration.email %>
</p>

<p>
  <strong>String:</strong>
  <%= @registration.string %>
</p>

<p>
  <strong>Password:</strong>
  <%= @registration.password %>
</p>

<p>
  <strong>String:</strong>
  <%= @registration.string %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
